body {
    font-family: Roboto;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 24px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #a8b2d8;
}

#hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
    gap: 40px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 55%;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-sec {
    color: #E5E7EB;
    font-size: 24px;
    margin: 0;
}
.hero-image {
    flex-shrink: 0;
}


.btn {
    display: inline-block;
    background-color: #3882F6;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 8px;
}

.btn:hover {
    background-color: #2563eb;
}

.hero-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #1F2937;
}

.footer-text {
    color: #E5E7EB;
}

.footer-links {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 24px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    color: #a8b2d8;
}